.required-field:after{
	content: "*";
  	color: red;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#form_control
 {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
 }

 .button-tables td
 {
 	padding:5px;
 }

 .modal-header.error
 {
    background: pink;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #D9534F;
    color: #fff;
    font-weight:strong;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }

 #form-blades td{
    padding: 10px;
 }

 #positiveBtn{
    text-decoration: none;
 }

 .poguide-strong{
    font-weight: bold;
 }

 .btn-action{
    background: #4C2882;
    color: #fff;
 }

 .btn-action:hover, .btn-action:visited{
    background: #9F00FF;
    color: #fff;
 }